# Stuff Lending Test Report
Document the results of your final system test below. You find instructions on the course homepage.

## Test table..

| Case  | Result | Note |
|-------| -------|------|
|  5.1  |   Ok   |    test passed succeceflly |
|  1.1  |   Ok   |    test passed succeceflly |
|  1.2  |   Ok   |    test passed succeceflly |
|  1.3  |   Ok   |    test passed succeceflly |
|  2.1  |   Ok   |    test passed succeceflly |
|  2.2  |   Ok   |    test passed succeceflly |
|  2.3  |   Ok   |    test passed succeceflly |
|  3.1  |   Ok   |    test passed succeceflly |
|  3.2  |   Ok   |    test passed succeceflly |
|  3.3  |   Ok   |    test passed succeceflly |
|  3.4  |   Ok   |    test passed succeceflly |
|  4.1  |   Ok   |    test passed succeceflly |